<strong> Olá, {{ deliveryman }} </strong>
<p>O produto {{ product }} já disponível para a retirada. Confira abaixo as informações do destinatário:</p>
<p>
    <strong>Destinatário: </strong> {{ recipient }} <br />
    <strong>Endereço: </strong> {{ address }}, {{ number }} <br />
    <strong>Cidade: </strong> {{ city }} - {{ state }} <br />
    <strong>CEP: </strong> {{ postalcode }} <br />
    <br />
</p>
